@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-base : rgb(0,0,0);
  --color-white: rgb(250, 245, 245);
}
body{
  background: var(--color-basey);
  color: var(--color-white);
}
